## Optimize the Model

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Value counts for status (to be dropped)
application_df["STATUS"].value_counts()

1    34294
0        5
Name: STATUS, dtype: int64

In [3]:
# Value counts for special considerations (to be dropped)
application_df["SPECIAL_CONSIDERATIONS"].value_counts()

N    34272
Y       27
Name: SPECIAL_CONSIDERATIONS, dtype: int64

In [4]:
# Drop the non-beneficial EIN column
application_df = application_df.drop(["EIN"], 1)
application_df = application_df.drop(["STATUS"], 1)
application_df = application_df.drop(["SPECIAL_CONSIDERATIONS"], 1)
application_df.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  after removing the cwd from sys.path.

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,0,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1-9999,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,0,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,10000-24999,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,100000-499999,142590,1

In [6]:
# Display the number of unique values
application_df.nunique()

NAME                19568
APPLICATION_TYPE       17
AFFILIATION             6
CLASSIFICATION         71
USE_CASE                5
ORGANIZATION            4
INCOME_AMT              9
ASK_AMT              8747
IS_SUCCESSFUL           2
dtype: int64

In [7]:
# Look at NAME value counts for binning
name_counts = application_df["NAME"].value_counts()

# How many name counts are greater than 5?
name_counts[name_counts > 5]

PARENT BOOSTER USA INC                             1260
TOPS CLUB INC                                       765
UNITED STATES BOWLING CONGRESS INC                  700
WASHINGTON STATE UNIVERSITY                         492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC     408
                                                   ...
OLD OAK CLIFF CONSERVATION LEAGUE INC                 6
AMERICAN NEPHROLOGY NURSES ASSOCIATION                6
HUMBLE ISD EDUCATIONAL SUPPORT GROUPS INC             6
PROFESSIONAL LOADMASTER ASSOCIATION                   6
CBMC INC                                              6
Name: NAME, Length: 354, dtype: int64

In [9]:
# Determine which values to replace if counts are less than or equal to 5
names_to_replace = list(name_counts[name_counts <= 5].index)

# Replace in dataframe
for app in names_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(app,"Other")

# Check to make sure binning was successful
application_df['NAME'].value_counts()

Other                                           20043
PARENT BOOSTER USA INC                           1260
TOPS CLUB INC                                     765
UNITED STATES BOWLING CONGRESS INC                700
WASHINGTON STATE UNIVERSITY                       492
                                                ...
HABITAT FOR HUMANITY INTERNATIONAL                  6
DAMAGE PREVENTION COUNCIL OF TEXAS                  6
FLEET RESERVE ASSOCIATION                           6
HUGH OBRIAN YOUTH LEADERSHIP                        6
INTERNATIONAL CONGRESS OF CHURCHES MINISTERS        6
Name: NAME, Length: 355, dtype: int64

In [10]:
# Look at APPLICATION_TYPE value counts for binning
application_counts = application_df["APPLICATION_TYPE"].value_counts()
application_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [11]:
# Determine which values to replace if applciation counts are less than 500
application_types_to_replace = list(application_counts[application_counts < 500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [12]:
# Look at CLASSIFICATION value counts for binning
class_counts = application_df['CLASSIFICATION'].value_counts()
class_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [13]:
# Determine which values to replace if counts are less than 1000
classifications_to_replace = list(class_counts[class_counts < 1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [16]:
# Generate our categorical variable lists
application_cat = application_df.dtypes[application_df.dtypes == "object"].index.tolist()
application_cat

['NAME',
 'APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT']

In [17]:
# Perform one-hot encoding on the data
application_with_dummies_df = pd.get_dummies(application_df)
application_with_dummies_df.head()

,ASK_AMT,IS_SUCCESSFUL,NAME_AACE INTERNATIONAL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_AFRICAN-AMERICAN POSTAL LEAGUE UNITED FOR SUCCESS A-PLUS,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,NAME_ALABAMA TREASURE FOREST ASSOCIATION,NAME_ALBANY STATE UNIVERSITY NATIONAL ALUMNI ASSOCIATION,NAME_ALPHA PHI OMEGA,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,5000,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,108590,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,5000,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,6692,1,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0
4,142590,1,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0

In [18]:
# Split our preprocessed data into our ffeatures and target arrays
x = application_with_dummies_df.drop(["IS_SUCCESSFUL"], axis='columns').values
y = application_with_dummies_df["IS_SUCCESSFUL"].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(x, y)

In [19]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [20]:
# Define the model - deeep neural net
number_inputs_features = len(X_train[0])
hidden_nodes_layer1 = 100
hidden_nodes_layer2 = 30
hidden_nodes_layer3 = 10

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_inputs_features, activation='relu')
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation='sigmoid'))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation='sigmoid'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

#

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 100)               39600

 dense_1 (Dense)             (None, 30)                3030

 dense_2 (Dense)             (None, 10)                310

 dense_3 (Dense)             (None, 1)                 11

=================================================================
Total params: 42,951
Trainable params: 42,951
Non-trainable params: 0
_________________________________________________________________

In [21]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [22]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5032 - accuracy: 0.7671
Epoch 2/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4478 - accuracy: 0.7910
Epoch 3/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4388 - accuracy: 0.7913
Epoch 4/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4346 - accuracy: 0.7944
Epoch 5/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4309 - accuracy: 0.7946
Epoch 6/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4293 - accuracy: 0.7953
Epoch 7/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4274 - accuracy: 0.7954
Epoch 8/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4259 - accuracy: 0.7960
Epoch 9/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4248 - accuracy: 0.7956
Epoch 10/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4243 - accuracy: 0.7970
Epoch 11/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4232 - accuracy: 0.7975
Epoch 12/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4219 - accuracy: 0.7986
Epoch 13/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4219 - accuracy: 0.7975
Epoch 14/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4207 - accuracy: 0.7984
Epoch 15/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4203 - accuracy: 0.7977
Epoch 16/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4197 - accuracy: 0.7987
Epoch 17/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4189 - accuracy: 0.7986
Epoch 18/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4185 - accuracy: 0.7994
Epoch 19/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4179 - accuracy: 0.7996
Epoch 20/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4170 - accuracy: 0.8005
Epoch 21/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4168 - accuracy: 0.8000
Epoch 22/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4163 - accuracy: 0.8000
Epoch 23/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4159 - accuracy: 0.8014
Epoch 24/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4155 - accuracy: 0.8002
Epoch 25/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4151 - accuracy: 0.8011
Epoch 26/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4147 - accuracy: 0.8011
Epoch 27/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4142 - accuracy: 0.8007
Epoch 28/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4138 - accuracy: 0.8019
Epoch 29/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4138 - accuracy: 0.8015
Epoch 30/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4129 - accuracy: 0.8019
Epoch 31/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4129 - accuracy: 0.8016
Epoch 32/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4124 - accuracy: 0.8014
Epoch 33/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4127 - accuracy: 0.8009
Epoch 34/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4120 - accuracy: 0.8028
Epoch 35/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4121 - accuracy: 0.8026
Epoch 36/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4111 - accuracy: 0.8022
Epoch 37/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4114 - accuracy: 0.8028
Epoch 38/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4111 - accuracy: 0.8025
Epoch 39/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4110 - accuracy: 0.8030
Epoch 40/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4104 - accuracy: 0.8037
Epoch 41/100
804/804 [==============================] - 4s 4ms/step - loss: 0.4103 - accuracy: 0.8034
Epoch 42/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4102 - accuracy: 0.8035
Epoch 43/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4102 - accuracy: 0.8037
Epoch 44/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4101 - accuracy: 0.8030
Epoch 45/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4095 - accuracy: 0.8031
Epoch 46/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4097 - accuracy: 0.8029
Epoch 47/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4092 - accuracy: 0.8036
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4090 - accuracy: 0.8025
Epoch 49/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4093 - accuracy: 0.8037
Epoch 50/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4083 - accuracy: 0.8028
Epoch 51/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4083 - accuracy: 0.8038
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4082 - accuracy: 0.8035
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4085 - accuracy: 0.8040
Epoch 54/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4083 - accuracy: 0.8039
Epoch 55/100
804/804 [==============================] - 4s 6ms/step - loss: 0.4079 - accuracy: 0.8047
Epoch 56/100
804/804 [==============================] - 5s 6ms/step - loss: 0.4077 - accuracy: 0.8045
Epoch 57/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4076 - accuracy: 0.8044
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4073 - accuracy: 0.8042
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4070 - accuracy: 0.8036
Epoch 60/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4066 - accuracy: 0.8049
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4068 - accuracy: 0.8049
Epoch 62/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4065 - accuracy: 0.8054
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4073 - accuracy: 0.8043
Epoch 64/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4066 - accuracy: 0.8040
Epoch 65/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4063 - accuracy: 0.8042
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4060 - accuracy: 0.8049
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4071 - accuracy: 0.8046
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4063 - accuracy: 0.8042
Epoch 69/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4061 - accuracy: 0.8056
Epoch 70/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4060 - accuracy: 0.8057
Epoch 71/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4058 - accuracy: 0.8052
Epoch 72/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4058 - accuracy: 0.8058
Epoch 73/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4058 - accuracy: 0.8044
Epoch 74/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4050 - accuracy: 0.8056
Epoch 75/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4052 - accuracy: 0.8049
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4054 - accuracy: 0.8047
Epoch 77/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4051 - accuracy: 0.8049
Epoch 78/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4047 - accuracy: 0.8052
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4046 - accuracy: 0.8052
Epoch 80/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4049 - accuracy: 0.8055
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4046 - accuracy: 0.8054
Epoch 82/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4058 - accuracy: 0.8053
Epoch 83/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4050 - accuracy: 0.8051
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4046 - accuracy: 0.8061
Epoch 85/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4046 - accuracy: 0.8051
Epoch 86/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4046 - accuracy: 0.8062
Epoch 87/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4052 - accuracy: 0.8061
Epoch 88/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4048 - accuracy: 0.8057
Epoch 89/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4046 - accuracy: 0.8048
Epoch 90/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4046 - accuracy: 0.8052
Epoch 91/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4045 - accuracy: 0.8051
Epoch 92/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4045 - accuracy: 0.8052
Epoch 93/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4045 - accuracy: 0.8061
Epoch 94/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4052 - accuracy: 0.8059
Epoch 95/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4045 - accuracy: 0.8055
Epoch 96/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4043 - accuracy: 0.8058
Epoch 97/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4042 - accuracy: 0.8053
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4044 - accuracy: 0.8052
Epoch 99/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4046 - accuracy: 0.8059
Epoch 100/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4046 - accuracy: 0.8051

In [23]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.4467 - accuracy: 0.7966 - 510ms/epoch - 2ms/step
Loss: 0.44673675298690796, Accuracy: 0.7966181039810181

In [24]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_Optimization.h5")

In [25]:
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier

In [26]:
# Create a random forest classifier
rf_model = RandomForestClassifier(n_estimators=128, random_state=78)

# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

# Evaluate the model
y_pred = rf_model.predict(X_test_scaled)
print(f"Random forest model accuracy: {accuracy_score(y_test, y_pred)*100:.2f}")

Random forest model accuracy: 78.50